.chats-body {
  padding: 110px 0px 0px 0px;
  background: url("../images/dot-grid.png");
  background-attachment: fixed;
  min-height: 100vh;
}

.header-wrapper {
  background: url("../images/dot-grid.png");
  background-attachment: fixed;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px -8px,
    rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
}

.chats-body .status-bar {
  padding: 10px 20px 0px 20px;
}
.chats-body .header {
  padding: 0px 20px;
}

.chat__write-container {
  position: fixed;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

@keyframes float {
  0% {
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
      0 18px 36px -18px rgba(0, 0, 0, 0.3),
      0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  }
  50% {
    box-shadow: 0 30px 60px -60px rgba(50, 50, 93, 0.25),
      0 18px 36px -18px rgba(0, 0, 0, 0.3),
      0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  }
  100% {
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
      0 18px 36px -18px rgba(0, 0, 0, 0.3),
      0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  }
}

.chat__write {
  bottom: 0;
  border-radius: 0;
  padding: 20px 60px;
  width: 100%;
  border: none;
  font-size: 14px;
  transition: width 0.5s ease-in-out, box-shadow 0.5s ease-in-out,
    border-radius 0.5s ease-in-out, transform 0.5s ease-in-out;
  margin: 0 auto;
}

.chat__write:focus {
  outline: none;
  width: 80%;
  transform: translateY(-100px);
  border-radius: 40px;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  animation: float 3s linear infinite forwards;
}

.chat__write-icon {
  font-size: 22px;
}

.chat__icon-left {
  position: absolute;
  left: 10px;
}

.chat__icon-right {
  position: absolute;
  right: 10px;
}

.chat__write:focus ~ .chat__icon {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.chat__icon {
  font-size: 16px;
}

.chat__messages {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  border-top: 1px solid #f7f7f7;
  padding: 20px 20px;
  width: 100%;
  overflow: scroll-y;
}

.chat__messages .chat__timestamp {
  background-color: white;
  font-size: 12;
  padding: 5px 10px;
  border-radius: 10px;
  margin-bottom: 15px;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 8px 16px -8px,
    rgba(0, 0, 0, 0.048) 0px -6px 16px -6px;
  text-transform: uppercase;
  font-weight: 700;
}

.message {
  display: flex;
  align-items: flex-start;
  width: 70%;
  margin-bottom: 10px;
}

.message__bubble {
  box-shadow: rgba(0, 0, 0, 0.6) 0px 8px 16px -8px,
    rgba(0, 0, 0, 0.048) 0px -6px 16px -6px;
  background-color: white;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: 300;
  color: #ffffff;
}

@keyframes spin {
  from {
    transform: none;
  }
  to {
    transform: rotateY(1turn);
  }
}

.incoming-message img {
  width: 40px;
  height: 40px;
  border-radius: 15px;
  margin-right: 15px;
  animation: spin 1s linear infinite;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 8px 16px -8px,
    rgba(0, 0, 0, 0.048) 0px -6px 16px -6px;
}

.incoming-message {
  align-self: flex-start;
  animation: incomingAnimation 0.5s ease-in-out forwards;
}

.outgoing-message {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  animation: outgoingAnimation 0.5s ease-in-out forwards;
}

.message__author {
  margin-top: 10px;
  display: block;
  font-weight: 600;
  font-size: 12px;
}

.incoming-message .message__bubble {
  border-bottom-left-radius: 0;
  background: linear-gradient(
    -10deg,
    #de6262,
    #ffb88c
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.outgoing-message .message__bubble {
  border-bottom-right-radius: 0;
  background: linear-gradient(
    170deg,
    #83a4d4,
    #b6fbff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@keyframes incomingAnimation {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }
  to {
    opacity: 1;
    transform: translateX(none);
  }
}

@keyframes outgoingAnimation {
  from {
    opacity: 0;
    transform: translateX(200px);
  }
  to {
    opacity: 1;
    transform: translateX(none);
  }
}
